bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
autoexec.cfg
log.txt
compile_out.txt

*.bat
*.exe
*.rar
teeworlds_d.v12.suo
teeworlds_d.pdb
teeworlds_d.v11.suo
teeworlds_d.suo
